<div
  *ngIf="isAudio()"
>
  <div>
    <b>
      Audio source: {{media}}
    </b>
  </div>
  <audio
    #audioElement
    src={{media}}
  ></audio>
</div>

<div
  *ngIf="isVideo()"
>
  <div>
    <b>
      Video source: {{media}}
    </b>
  </div>
  <video
    #videoElement
    src={{media}}
  ></video>
</div>

<div>
  <button type="button" class="btn btn-light" (click)="play()">
    Play
  </button>
  <button type="button" class="btn btn-light" (click)="pause()">
    Pause
  </button>
  <button type="button" class="btn btn-light" (click)="mute()">
    Mute
  </button>
  <button type="button" class="btn btn-light" (click)="unMute()">
    Unmute
  </button>
  <button type="button" class="btn btn-light" (click)="backTo0()">
    Back to 0
  </button>
</div>
