<nav class="navbar navbar-expand bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Equipos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Un equipo</a></li>
            <li><a class="dropdown-item" href="#">Otro equipo</a></li>
            <li><a class="dropdown-item" href="#">Otro equipo más</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
