<div class="detalle">
  <h3>{{jugador?.nombre}}</h3>

  <div
    [style]="{'background-image': 'url(' + jugador?.img + ')'}"
    class="jugador-img"
  ></div>

  <div class="d-flex pt-2">
    <div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>Edad</div>
            <div class="fw-semibold">{{jugador?.edad}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>Altura</div>
            <div class="fw-semibold">{{jugador?.altura}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>Puntos</div>
            <div class="fw-semibold">{{jugador?.puntos}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>Posición</div>
            <div class="fw-semibold">{{jugador?.posicion}}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="p-2">
      <p class="pl-2">
        {{jugador?.descripcion}}
      </p>
    </div>

  </div>

  <div class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#editar-formulario">
    <i class="bi bi-pencil-square"></i> Editar
  </div>

  <hr />

  <div class="pt-4">
    <app-reproductor
      [media]="jugador?.media"
    ></app-reproductor>
  </div>
</div>




<div class="modal" tabindex="-1" id="editar-formulario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar jugador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newJugadorForm" (ngSubmit)="onSubmit()">
          <div class="d-flex">
            <div class="m-2">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input required formControlName="nombre" type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="edad" class="form-label">Edad</label>
                <input formControlName="edad" type="number" class="form-control" id="edad" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="altura" class="form-label">Altura</label>
                <input formControlName="altura" type="number" class="form-control" id="altura" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="m-2">
              <div class="mb-3">
                <label for="puntos" class="form-label">Puntos</label>
                <input formControlName="puntos" type="number" class="form-control" id="puntos" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="posicion" class="form-label">Posicion</label>
                <input formControlName="posicion" type="text" class="form-control" id="posicion" aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="media" class="form-label">Media (video o audio) url</label>
            <input formControlName="media" type="text" class="form-control" id="media" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea formControlName="descripcion" class="form-control" id="descripcion" rows="3"></textarea>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!newJugadorForm.valid"
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
