<div class="mb-3 m-3">
  <label for="basic-url" class="form-label">Filtrar por nombre o posicion</label>
  <div class="input-group">
    <input
        type="text"
        class="forms-control"
        placeholder="Dr..."
        [(ngModel)]="playerFilter"
        name="filter"
        width="300px"
        autofocus
      />
  </div>
</div>
<div class="d-flex p-2 pt-0">
  <div class="p-1">
    <ol class="list-group">
      <li
        class="d-flex justify-content-between align-items-start"
        *ngFor="let jugador of jugadoresList$ | async | filter:playerFilter"
        >

        <ul class="list-group list-group-horizontal d-flex m-1">
          <li
            class="list-group-item d-flex flex-grow-1"
            (click)="onSelect(jugador)"
            [ngClass]="{'active': selectedJugador == jugador}"
          >
            <div class="ms-2 me-auto">
              <div>
                <span class="fw-bold">
                  {{jugador.nombre}}
                </span>
              </div>
              <i class="bi bi-ladder"></i> {{jugador.altura}} | <i class="bi bi-arrow-down-right-square"></i> {{jugador.posicion}}
            </div>
            <div>
              <span class="badge bg-secondary rounded-pill jugador-id">{{jugador.id}}</span>
              {{' '}}
            </div>
          </li>
          <li class="list-group-item">
            <button (click)="onDelete(jugador)" type="button" class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>
            </button>
          </li>
        </ul>

      </li>
    </ol>
    <div class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#anadir-formulario">
      <i class="bi bi-person-plus"></i> Añadir jugador
    </div>
  </div>
  <div class="p-2">
    <app-detalle *ngIf="selectedJugador" [jugador]="selectedJugador"></app-detalle>
  </div>
</div>
<router-outlet></router-outlet>

<div class="modal" tabindex="-1" id="anadir-formulario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir jugador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newJugadorForm" (ngSubmit)="onSubmit()">
          <div class="d-flex">
            <div class="m-2">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre *</label>
                <input required formControlName="nombre" type="text" class="form-control" id="nombre" >
              </div>
              <div class="mb-3">
                <label for="edad" class="form-label">Edad *</label>
                <input required formControlName="edad" type="number" class="form-control" id="edad" >
              </div>
              <div class="mb-3">
                <label for="altura" class="form-label">Altura *</label>
                <input required formControlName="altura" type="number" class="form-control" id="altura" >
              </div>
            </div>
            <div class="m-2">
              <div class="mb-3">
                <label for="puntos" class="form-label">Puntos *</label>
                <input required formControlName="puntos" type="number" class="form-control" id="puntos" >
              </div>
              <div class="mb-3">
                <label for="posicion" class="form-label">Posicion *</label>
                <input required formControlName="posicion" type="text" class="form-control" id="posicion" >
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="media" class="form-label">Media (video o audio) url</label>
            <input formControlName="media" type="text" class="form-control" id="media" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Imagen url</label>
            <input formControlName="img" type="text" class="form-control" id="img" >
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción *</label>
            <textarea required formControlName="descripcion" class="form-control" id="descripcion" rows="3"></textarea>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!newJugadorForm.valid"
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
